<a href="https://colab.research.google.com/github/Colsai/DATA-690-WANG/blob/master/hw4/Assignment_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# <1> 
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
# <2>
# load the 2017-2018 school year file "MERGED2017_18_PP.csv" 
# Don't include all columns - too many and take up computer resources (computeing power and memory)
# Only load the following 10 columns should be loaded:
# UNITID: 
# OPEID:              
# OPEID6:            
# INSTNM:          
# CITY:                      
# ZIP:               
# ADM_RATE:           
# UGDS:              
# TUITIONFEE_IN:      

path_csv = "/content/drive/My Drive/College Data/MERGED2017_18_PP.csv"
df = pd.read_csv(path_csv, header=0)

df = df[["UNITID", 
         "OPEID", 
         "OPEID6", 
         "INSTNM", 
         "CITY",
         "ZIP",
         "ADM_RATE",
         "UGDS",
         "TUITIONFEE_IN"]]

df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   UNITID    OPEID  OPEID6  ... ADM_RATE     UGDS TUITIONFEE_IN
0  100654   100200    1002  ...   0.9027   4824.0        9857.0
1  100663   105200    1052  ...   0.9181  12866.0        8328.0
2  100690  2503400   25034  ...      NaN    318.0        6900.0
3  100706   105500    1055  ...   0.8123   6917.0       10280.0
4  100724   100500    1005  ...   0.9787   4189.0       11068.0

[5 rows x 9 columns]

In [ ]:
# <3>
# Load the scorecard file Most-Recent-Cohorts-Scorecard-Elements.csv from the link:
# https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-Scorecard-Elements.csv
# This file has three median earnings which is not present in the previous file
# Only load the two columns:
# UNITID - This column is the unique identity for each college and will be used to join with the previous file
# MD_EARN_WNE_P10  - This column has the median earnings

(Write code here)
#Scorecard is bouncing

In [ ]:
# <4> 
# Explore this file - number of colleges, head/tail/sample etc.
# Notice this file has different number of colleges from the previous file
# This indicate they are not identical and they overlap (they don't contain the same set of colleges)
(Write code here)

In [ ]:
# <5>
#Join the two files together to produce a third file which contain all the columns and all colleges that are common to both files
(Write code here)

In [ ]:
# <6>
# Explore the new file - number of colleges, head/tail/sample etc.
(Write code here)

In [ ]:
# <7>
# Find out the top 100 colleges that are hardest to get in (Top 100) from this new file
(Write code here)

In [ ]:
# <8>
# Display the summary statistics of the in-state tuitions of the top 100 colleges that are hardest to get in
(Write code here)

In [ ]:
# <9>
# Display the histogram of the in-state tuitions of the top 100 colleges that are hardest to get in
(Write code here)

In [ ]:
# <10>
# Display the summary statistics of the earning potentials of the top 100 colleges that are hardest to get in
(Write code here)

In [ ]:
# <11>
# Display the histogram of the earning potentials of the top 100 colleges that are hardest to get in
(Write code here)

In [ ]:
# <12>
# Make a scatter plot of the in-state tuition and the median graduate earnings of 
# the top 100 colleges that are hardest to get in
# using Pandas
(Write code here)

In [ ]:
# <13>
# Make a scatter plot of the in-state tuition and the median graduate earnings of 
# the top 100 colleges that are hardest to get in
# using Matplotlib
(Write code here)

In [ ]:
# <14>
# Make a scatter plot of the in-state tuition and the median graduate earnings of 
# the top 100 colleges that are hardest to get in
# using Seaborn
(Write code here)

In [ ]:
# <15> 
# Your observation/conclusion of the scatter plot (use the following Markdown cell)

#### Based on my observation of the scatter plot,
#### blah, blah (are the two variable related? how?, etc)
#### blah, blah
#### ...
#### blah, blah