<a href="https://colab.research.google.com/github/Colsai/DATA-690-WANG/blob/master/hw4/Assignment_4_revised.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scott Hirabayashi  
# Data Science 690 (Wang)

# Assignment 04
1. Write code to open the text file [census_cost.txt](census_cost.txt) and read all lines into a list named **"line_list"**. Print line_list.
2. Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.
3. Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.
4. Extract the column **"Census Year"** from data_list and assign them to a list named **year_list**. Remove the "*" from the last element "2010*". Print the cleansed year_list.
5. Extract the **"Total Population"** column from the data_list and assign them to a list named **"pop_list"**. Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".
6. Extract the **"Census Cost"** column from the data_list and assign them to a list named **"cost_list"**. Remove the ",", and "$", and "Billion".
Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.

7. Extract the **"Average Cost per Person"** column from the data_list and assign them to a list named **"avg_list"**. Remove the "cents", and "$".
Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.
8. Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in 
comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.
9. Open the newly-created file "census_cost.csv", read all lines and display them. How does it look?

Give yourself a pat on the back. Good job! 
Now you know what data scientists do most of time: Data Cleansing.

# Part I: Importing the Data
Use with open(file_name) as my_file:
    line_list = my_file.readlines()

In [670]:
#Write code to open the text file census_cost.txt and read all lines into a list named "line_list". Print line_list.

#Simple Display Function
def disp(data_list):
    for line in data_list:
        print(line)

file_name = "/content/census_cost.txt"

with open(file_name) as my_file:
    line_list = my_file.readlines()
    
line_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11']

In [671]:
#From this, we see that the header is the second line, and the lines following are the data
line_list[0:5]

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n']

In [672]:
# Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.
top2_list = []

for i in range(2):
    top2_list.append(line_list[i])

print(top2_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

## 1b. Set up the data_list
Split the list as all the numeric rows

In [673]:
#Simple Display Function
def disp(data_list):
    for line in data_list:
        print(line)

# Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.
data_list = line_list[2::]
disp(data_list)

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

In [674]:
#Simple Display Function
def disp(data_list):
    for line in data_list:
        print(line)

temp_data_list = []

for rows in data_list:
    temp_data_list.append(rows.split("\t")) #This isn't an efficient method, but I'll append to a new list

data_list = temp_data_list

disp(data_list)

['1790', '3,929,214', '$44,377', '1.13 cents\n']
['1800', '5,308,483', '$66,109', '1.24 cents\n']
['1810', '7,239,881', '$178,445', '2.46 cents\n']
['1820', '9,633,822', '$208,526', '2.16 cents\n']
['1830', '12,866,020', '$378,545', '2.94 cents\n']
['1840', '17,069,458', '$833,371', '4.88 cents\n']
['1850', '23,191,876', '$1,423,351', '6.14 cents\n']
['1860', '31,443,321', '$1,969,377', '6.26 cents\n']
['1870', '38,558,371', '$3,421,198', '8.87 cents\n']
['1880', '50,155,783', '$5,790,678', '11.54 cents\n']
['1890', '62,979,766', '$11,547,127', '18.33 cents\n']
['1900', '76,303,387', '$11,854,000', '15.54 cents\n']
['1910', '91,972,266', '$15,968,000', '17.07 cents\n']
['1920', '105,710,620', '$25,117,000', '23.76 cents\n']
['1930', '122,775,046', '$40,156,000', '32.71 cents\n']
['1940', '131,669,275', '$67,527,000', '51.29 cents\n']
['1950', '151,325,798', '$91,462,000', '60.44 cents\n']
['1960', '179,323,175', '$127,934,000', '71.34 cents\n']
['1970', '203,302,031', '$247,653,000', '$1.22\n']
['1980', '226,542,199', '$1,078,488,000', '$4.76\n']
['1990', '248,718,301', '$2,492,830,000', '$10.02\n']
['2000', '281,421,906', '$4.5 Billion', '$15.99\n']
['2010*', '308,745,538', '$13 Billion', '$42.11']

# Part II- Fixing Lists
In these problems, I use two lists in order to manipulate one, then transfer the
contents back to the original list (except in the case of the first list, where
a single removal is required)

In [675]:
# Extract the column "Census Year" from data_list and assign them to a list named year_list. Remove the "*" from the last element "2010*". Print the cleansed year_list.
year_list = []

for rows in data_list:
    year_list.append(rows[0])

year_list[-1] = year_list[-1].strip("*") #Removing a single string from element
year_list = [int(i) for i in year_list] #list comprehension conversion

print(year_list)
type(year_list[0])

[1790, 1800, 1810, 1820, 1830, 1840, 1850, 1860, 1870, 1880, 1890, 1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010]

int

# Part III: Add conditions to the editing with .replace

In [676]:
# Extract the "Total Population" column from the data_list and assign them to a list named "pop_list". Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".
pop_list = []

for rows in data_list:
    pop_list.append(rows[1])

cleansed_pop_list = []

for elem in pop_list:
    elem = elem.replace(",","")
    cleansed_pop_list.append(elem)

cleansed_pop_list = [int(i) for i in cleansed_pop_list] 

pop_list = cleansed_pop_list
pop_list

[3929214,
 5308483,
 7239881,
 9633822,
 12866020,
 17069458,
 23191876,
 31443321,
 38558371,
 50155783,
 62979766,
 76303387,
 91972266,
 105710620,
 122775046,
 131669275,
 151325798,
 179323175,
 203302031,
 226542199,
 248718301,
 281421906,
 308745538]

In [677]:
#Extract the "Census Cost" column from the data_list and assign them to a list named "cost_list". 
#Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.

cost_list = []

for rows in data_list:
    cost_list.append(rows[2])

cleansed_cost_list = []

for elem in cost_list:
    if "Billion" in elem:
        elem = int(elem.replace("Billion", "000000000").replace(",", "").replace("$","").replace(" ", "").replace(".",""))

    else:
        elem = int(elem.replace(",","").replace("$",""))
    
    cleansed_cost_list.append(elem)

cleansed_cost_list = [int(i) for i in cleansed_cost_list]
cost_list = cleansed_cost_list

cost_list

[44377,
 66109,
 178445,
 208526,
 378545,
 833371,
 1423351,
 1969377,
 3421198,
 5790678,
 11547127,
 11854000,
 15968000,
 25117000,
 40156000,
 67527000,
 91462000,
 127934000,
 247653000,
 1078488000,
 2492830000,
 45000000000,
 13000000000]

In [678]:
# Extract the "Average Cost per Person" column from the data_list and assign them to a list named "avg_list". Remove the "cents", and "$". 
# Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.

avg_list = []

for rows in data_list:
    avg_list.append(rows[3])

cleansed_avg_list = []

for elem in avg_list:

    if "cents" in elem:
        elem = float(elem.replace("cents\n", "").replace(" ", "")) #I'll unify data types as float
        elem = round(elem/100,2)
        print(elem)

    else:
        elem = float(elem.replace("\n","").replace("$",""))
        print(elem)

    cleansed_avg_list.append(elem)

avg_list = cleansed_avg_list

0.01
0.01
0.02
0.02
0.03
0.05
0.06
0.06
0.09
0.12
0.18
0.16
0.17
0.24
0.33
0.51
0.6
0.71
1.22
4.76
10.02
15.99
42.11

# PART IV: Census Cost CSV
Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.

In [679]:
#(since its only one line, I'll just fix it here)
top2_list[0] = top2_list[0].replace("\n", "").split("\t")
top2_list[1] = top2_list[1].replace("\n", "")

In [680]:
#This sets the first rows as a cleaned top2_list
new_census_cost = [top2_list]

for i in range(2,len(year_list)):
    row = [year_list[i], pop_list[i], cost_list[i], avg_list[i]]
    new_census_cost.append(row)

new_census_cost

[[['Source: https://www.genealogybranches.com/censuscosts.html'],
  'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person'],
 [1810, 7239881, 178445, 0.02],
 [1820, 9633822, 208526, 0.02],
 [1830, 12866020, 378545, 0.03],
 [1840, 17069458, 833371, 0.05],
 [1850, 23191876, 1423351, 0.06],
 [1860, 31443321, 1969377, 0.06],
 [1870, 38558371, 3421198, 0.09],
 [1880, 50155783, 5790678, 0.12],
 [1890, 62979766, 11547127, 0.18],
 [1900, 76303387, 11854000, 0.16],
 [1910, 91972266, 15968000, 0.17],
 [1920, 105710620, 25117000, 0.24],
 [1930, 122775046, 40156000, 0.33],
 [1940, 131669275, 67527000, 0.51],
 [1950, 151325798, 91462000, 0.6],
 [1960, 179323175, 127934000, 0.71],
 [1970, 203302031, 247653000, 1.22],
 [1980, 226542199, 1078488000, 4.76],
 [1990, 248718301, 2492830000, 10.02],
 [2000, 281421906, 45000000000, 15.99],
 [2010, 308745538, 13000000000, 42.11]]

In [681]:
# Found a conversion and import that converts data from list of lists to .CSV

import csv

with open('census_cost.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(new_census_cost)

# Part V. Completing the Data

Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed.

The top two lines from the original file should be retained in the new file.
Open the newly-created file "census_cost.csv", read all lines and display them. How does it look?

In [682]:
file_name_csv = "/content/census_cost.csv"

with open(file_name_csv) as my_file:
    csv_list = my_file.readlines()

print(csv_list)

["['Source: https://www.genealogybranches.com/censuscosts.html'],Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n", '1810,7239881,178445,0.02\n', '1820,9633822,208526,0.02\n', '1830,12866020,378545,0.03\n', '1840,17069458,833371,0.05\n', '1850,23191876,1423351,0.06\n', '1860,31443321,1969377,0.06\n', '1870,38558371,3421198,0.09\n', '1880,50155783,5790678,0.12\n', '1890,62979766,11547127,0.18\n', '1900,76303387,11854000,0.16\n', '1910,91972266,15968000,0.17\n', '1920,105710620,25117000,0.24\n', '1930,122775046,40156000,0.33\n', '1940,131669275,67527000,0.51\n', '1950,151325798,91462000,0.6\n', '1960,179323175,127934000,0.71\n', '1970,203302031,247653000,1.22\n', '1980,226542199,1078488000,4.76\n', '1990,248718301,2492830000,10.02\n', '2000,281421906,45000000000,15.99\n', '2010,308745538,13000000000,42.11\n']

*NOTE: It displays... but there is a small issue and error somewhere that I was not sure of. The first and second lines did not properly split. However, all of the data was converted in successfully and put into a .csv file readable with Excel.*

Give yourself a pat on the back. Good job! 
Now you know what data scientists do most of time: Data Cleansing.