<a href="https://colab.research.google.com/github/Colsai/DATA-690-WANG/blob/master/hw4/pandas_webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import random
random_list = []

for i in range(100):
    random_list.append(a)

NameError: ignored

In [28]:
#Testing Pandas
import pandas as pd
import numpy as np

data_url = 'https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignment_fall2020/census_cost.csv'

df = pd.read_csv(data_url, header=1)
df.head()

   Census Year  Total Population  Census Cost  Average Cost Per Person
0         1790           3929214        44377                   0.0113
1         1800           5308483        66109                   0.0124
2         1810           7239881       178445                   0.0246
3         1820           9633822       208526                   0.0216
4         1830          12866020       378545                   0.0294

In [29]:
df.describe

<bound method NDFrame.describe of     Census Year  Total Population  Census Cost  Average Cost Per Person
0          1790           3929214        44377                   0.0113
1          1800           5308483        66109                   0.0124
2          1810           7239881       178445                   0.0246
3          1820           9633822       208526                   0.0216
4          1830          12866020       378545                   0.0294
5          1840          17069458       833371                   0.0488
6          1850          23191876      1423351                   0.0614
7          1860          31443321      1969377                   0.0626
8          1870          38558371      3421198                   0.0887
9          1880          50155783      5790678                   0.1154
10         1890          62979766     11547127                   0.1833
11         1900          76303387     11854000                   0.1554
12         1910          91972266     15968000                   0.1707
13         1920         105710620     25117000                   0.2376
14         1930         122775046     40156000                   0.3271
15         1940         131669275     67527000                   0.5129
16         1950         151325798     91462000                   0.6044
17         1960         179323175    127934000                   0.7134
18         1970         203302031    247653000                   1.2200
19         1980         226542199   1078488000                   4.7600
20         1990         248718301   2492830000                  10.0200
21         2000         281421906   4500000000                  15.9900
22         2010         308745538  13000000000                  42.1100>

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     int64
 3   Average Cost Per Person  23 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 864.0 bytes

In [35]:
#Testing Pandas
import pandas as pd
import numpy as np

data_url = "https://genealogybranches.com/censuscosts.html"

df = pd.read_csv(data_url, header=1)
df.head()

ParserError: ignored

In [55]:
import pandas as pd

WEB_URL = "https://www.genealogybranches.com/censuscosts.html"
df_list = pd.read_html(WEB_URL) #You can read HTML with this command

df = df_list[0]

header = df.iloc[0] #Gives the first row.
df = df.iloc[1:]

type(df) #It's a series, series represents 1 column, whereas dataframes usually represent many frames

pandas.core.frame.DataFrame

In [ ]:
df =