<a href="https://colab.research.google.com/github/Colsai/DATA-690-WANG/blob/master/hw6/Assignment_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 06 - Using Pandas
## Instructions
- This assignment is a re-do of assignment 04. We use Pandas and functions instead. It is due Wednesday, Sept 30th.
- WYou get to use the simple and convenient read_html() from Pandas to extract **HTML tables** from web pages. 
- We had walked through the process during last sesssion. The sample solution is here:
- https://github.com/wcj365/python-stats-dataviz/blob/master/pandas_apply.ipynb
- You will try to do it on your own and use the sample solution when you get stuck. 
- Make sure you user **Markdown cells** to document the process and its steps.

## Requirements
1. Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html
2. Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.
3. Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)
4. Document the data quality issues using a Markdown cell so the reader understands what the problems are.
5. Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")
6. Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.
7. Repeat this process for column "Total Population", 	"Census Cost", 	"Average Cost Per Person". (define, test, and apply the function)
8. After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.
9. Use Pandas to read the saved cleansed file and explore to make sure it is clean. 
10. Updload both the Jupyter notebook and the cleanse data file to GitHub and submit the GitHub link in BlackBoard.

> Give yourself a pad on the back. Now you get a feel of how wonderful Pandas is and 
> how powerful the combination of apply() and user-defined functions are."

## 1. Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html

In [458]:
import pandas as pd

In [459]:
df = pd.read_html('https://www.genealogybranches.com/censuscosts.html', header=0) #Set the header as 0 for both dataframes to save time
print(df)

[   Census Year  Total Population     Census Cost Average Cost Per Person
0         1790           3929214         $44,377              1.13 cents
1         1800           5308483         $66,109              1.24 cents
2         1810           7239881        $178,445              2.46 cents
3         1820           9633822        $208,526              2.16 cents
4         1830          12866020        $378,545              2.94 cents
5         1840          17069458        $833,371              4.88 cents
6         1850          23191876      $1,423,351              6.14 cents
7         1860          31443321      $1,969,377              6.26 cents
8         1870          38558371      $3,421,198              8.87 cents
9         1880          50155783      $5,790,678             11.54 cents
10        1890          62979766     $11,547,127             18.33 cents
11        1900          76303387     $11,854,000             15.54 cents
12        1910          91972266     $15,968,000             17.07 cents
13        1920         105710620     $25,117,000             23.76 cents
14        1930         122775046     $40,156,000             32.71 cents
15        1940         131669275     $67,527,000             51.29 cents
16        1950         151325798     $91,462,000             60.44 cents
17        1960         179323175    $127,934,000             71.34 cents
18        1970         203302031    $247,653,000                   $1.22
19        1980         226542199  $1,078,488,000                   $4.76
20        1990         248718301  $2,492,830,000                  $10.02
21        2000         281421906    $4.5 Billion                  $15.99
22       2010*         308745538     $13 Billion                  $42.11, Empty DataFrame
Columns: [The U.S. population reached 300,000,000 on 17 October 2006. At the end of 2015, it was at 319,958,045. At the end of 2017, it was at 326,971,209. Source (except 2010)... Gauthier, Jason G., Measuring America: The Decennial Censuses From 1790-2000, (US Bureau of the Census/Dept of Commerce), Washington: US Government Printing Office, 2002, Appendix A, Page A-1.The numbers in the fourth column are not included in the book and were added by me. * The 2010 census cost was taken from GAO (U.S. Government Accountability Office) report number GAO-11-496T, 2010 Census: Preliminary Lessons Learned Highlight the Need for Fundamental Reforms (April 6, 2011): "At about $13 billion, 2010 was the costliest U.S. Census in history." The official census day for 2010 was April 1, 2010. The total population figure (308,745,538) was announced by the U.S. Census Bureau on Dec. 21, 2010. See: 2010 Census - Resident Population Data The 1940 Census 1940 census records were released on April 2, 2012. For details see:1940 Census Records and InformationFor information on census records for other years see: U.S. Census Records 1790-1940]
Index: []]

## 2. Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.
There are TWO tables here. 
df[0] and df[1].

In [460]:
#What's df[0]?
df[0].head(3)

  Census Year  Total Population Census Cost Average Cost Per Person
0        1790           3929214     $44,377              1.13 cents
1        1800           5308483     $66,109              1.24 cents
2        1810           7239881    $178,445              2.46 cents

In [461]:
#What's df[1]?
df[1].head(3)

Empty DataFrame
Columns: [The U.S. population reached 300,000,000 on 17 October 2006. At the end of 2015, it was at 319,958,045. At the end of 2017, it was at 326,971,209. Source (except 2010)... Gauthier, Jason G., Measuring America: The Decennial Censuses From 1790-2000, (US Bureau of the Census/Dept of Commerce), Washington: US Government Printing Office, 2002, Appendix A, Page A-1.The numbers in the fourth column are not included in the book and were added by me. * The 2010 census cost was taken from GAO (U.S. Government Accountability Office) report number GAO-11-496T, 2010 Census: Preliminary Lessons Learned Highlight the Need for Fundamental Reforms (April 6, 2011): "At about $13 billion, 2010 was the costliest U.S. Census in history." The official census day for 2010 was April 1, 2010. The total population figure (308,745,538) was announced by the U.S. Census Bureau on Dec. 21, 2010. See: 2010 Census - Resident Population Data The 1940 Census 1940 census records were released on April 2, 2012. For details see:1940 Census Records and InformationFor information on census records for other years see: U.S. Census Records 1790-1940]
Index: []

## 3. Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [462]:
#What are the data types we are using?
census_df.dtypes

Census Year                  int64
Total Population             int64
Census Cost                float64
Average Cost Per Person    float64
dtype: object

In [463]:
#We should be looking at the first data frame. Let's call it "census_df"
census_df = df[0] 

census_df.head()

  Census Year  Total Population Census Cost Average Cost Per Person
0        1790           3929214     $44,377              1.13 cents
1        1800           5308483     $66,109              1.24 cents
2        1810           7239881    $178,445              2.46 cents
3        1820           9633822    $208,526              2.16 cents
4        1830          12866020    $378,545              2.94 cents

## 4. Document the data quality issues using a Markdown cell so the reader understands what the problems are.


*   Years has an asterisk on 2010.  
*   Population is OK except for data type  
*   Census Cost needs removal of "$" and "," "." and "Billion" fixed.


*   Average Cost needs removal of "cents" and "$" and conversion to all dollars

## 5. Cleanse Census Years Function


*   Single exception here, 2010* has an asterisk
*   Remove all of the asterisks.
*   Let's change data type of years to int

In [464]:
#Remove all asterisks
def cleanse_year(raw_years):
    raw_years = int(raw_years.replace("*",""))
    return raw_years

Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string.

In [465]:
# Test the function by using test strings (for example, "1989*", "20*10")t
test_list_years = ("1989", "20*10", "85")

for li in test_list_years:
    li_test = cleanse_year(li)
    print(f"{li_test} {type(li_test)}")

1989 <class 'int'>
2010 <class 'int'>
85 <class 'int'>

In [466]:
#Apply the solution (We can also do add and drop, but this is faster.)
census_df["Census Year"] = census_df["Census Year"].apply(cleanse_year)

In [467]:
census_df.head()

   Census Year  Total Population Census Cost Average Cost Per Person
0         1790           3929214     $44,377              1.13 cents
1         1800           5308483     $66,109              1.24 cents
2         1810           7239881    $178,445              2.46 cents
3         1820           9633822    $208,526              2.16 cents
4         1830          12866020    $378,545              2.94 cents

## Cleanse Total Population Function
*   No exceptions, but dtype is string. 
*   Let's change data type of years to int.

In [468]:
def cleanse_pop(raw_pop):
    raw_pop = int(raw_pop)
    return raw_pop

In [469]:
# Test the function by using test strings (for example, "1989*", "20*10")t
test_list = ("10000", "500", "20230")

for li in test_list:
    print(f" {li} type: {type(cleanse_pop(li))}")

 10000 type: <class 'int'>
 500 type: <class 'int'>
 20230 type: <class 'int'>

In [470]:
#Apply the solution (We can also do add and drop, but this is faster.)
census_df["Total Population"] = census_df["Total Population"].apply(cleanse_pop)

## Cleanse Census Cost Function (example solution)
*   We need to first remove $, and ,
*   Next, change the "Billion" and decimal in 4.5
*   After that, let's change the data type to float, since it is money.

In [471]:
def cleanse_census_cost(raw_cost):
    costs = raw_cost.replace("$","").replace(",","")

    if  raw_cost.find("4.5") != -1:          # if "4.5" in raw_cost:
        costs = "45" + "0" * 8

    elif raw_cost.find("Billion") != -1:     # elif "Billion" in raw_cost: 
        costs = "13" + "0" * 9
        
    return float(costs)

In [472]:
# Test the function by using test strings
cleanse_census_cost("12 Billion")

13000000000.0

In [473]:
#Apply the solution (We can also do add and drop, but this is faster.)
census_df["Census Cost"] = census_df["Census Cost"].apply(cleanse_census_cost)
census_df

    Census Year  Total Population   Census Cost Average Cost Per Person
0          1790           3929214  4.437700e+04              1.13 cents
1          1800           5308483  6.610900e+04              1.24 cents
2          1810           7239881  1.784450e+05              2.46 cents
3          1820           9633822  2.085260e+05              2.16 cents
4          1830          12866020  3.785450e+05              2.94 cents
5          1840          17069458  8.333710e+05              4.88 cents
6          1850          23191876  1.423351e+06              6.14 cents
7          1860          31443321  1.969377e+06              6.26 cents
8          1870          38558371  3.421198e+06              8.87 cents
9          1880          50155783  5.790678e+06             11.54 cents
10         1890          62979766  1.154713e+07             18.33 cents
11         1900          76303387  1.185400e+07             15.54 cents
12         1910          91972266  1.596800e+07             17.07 cents
13         1920         105710620  2.511700e+07             23.76 cents
14         1930         122775046  4.015600e+07             32.71 cents
15         1940         131669275  6.752700e+07             51.29 cents
16         1950         151325798  9.146200e+07             60.44 cents
17         1960         179323175  1.279340e+08             71.34 cents
18         1970         203302031  2.476530e+08                   $1.22
19         1980         226542199  1.078488e+09                   $4.76
20         1990         248718301  2.492830e+09                  $10.02
21         2000         281421906  4.500000e+09                  $15.99
22         2010         308745538  1.300000e+10                  $42.11

## Cleanse Average Cost Function
*   We need to first remove $
*   Next, change the cents values, and then convert them over to dollars (x/100)
*   Last, let's change the data type to float, since it is money.

In [474]:
def cleanse_avg_cost(avg_cost):
    if avg_cost.find("cents") != -1:
        costs = round(float(avg_cost.replace("cents","")) / 100 , 2) #Rounds the float, since fractional cents are not helpful here.

    else:
        costs = avg_cost.replace("$","") #Removes all dollars from values first
        costs = round(float(avg_cost.replace("$","")),2) #In either case, we round the values to standardize them.
    
    return costs

In [475]:
# Test the function by using test strings
print(cleanse_avg_cost("15 cents"))
print(cleanse_avg_cost("$1.5"))

0.15
1.5

In [476]:
#Apply Average Cost to Census_df
census_df["Average Cost Per Person"] = census_df["Average Cost Per Person"].apply(cleanse_avg_cost)
census_df

    Census Year  Total Population   Census Cost  Average Cost Per Person
0          1790           3929214  4.437700e+04                     0.01
1          1800           5308483  6.610900e+04                     0.01
2          1810           7239881  1.784450e+05                     0.02
3          1820           9633822  2.085260e+05                     0.02
4          1830          12866020  3.785450e+05                     0.03
5          1840          17069458  8.333710e+05                     0.05
6          1850          23191876  1.423351e+06                     0.06
7          1860          31443321  1.969377e+06                     0.06
8          1870          38558371  3.421198e+06                     0.09
9          1880          50155783  5.790678e+06                     0.12
10         1890          62979766  1.154713e+07                     0.18
11         1900          76303387  1.185400e+07                     0.16
12         1910          91972266  1.596800e+07                     0.17
13         1920         105710620  2.511700e+07                     0.24
14         1930         122775046  4.015600e+07                     0.33
15         1940         131669275  6.752700e+07                     0.51
16         1950         151325798  9.146200e+07                     0.60
17         1960         179323175  1.279340e+08                     0.71
18         1970         203302031  2.476530e+08                     1.22
19         1980         226542199  1.078488e+09                     4.76
20         1990         248718301  2.492830e+09                    10.02
21         2000         281421906  4.500000e+09                    15.99
22         2010         308745538  1.300000e+10                    42.11

## Last Steps: Check Data Types, and Convert it to .CSV

In [477]:
#Check data types again, to make it easier to use. 
census_df.dtypes

Census Year                  int64
Total Population             int64
Census Cost                float64
Average Cost Per Person    float64
dtype: object

9. Use Pandas to read the saved cleansed file and explore to make sure it is clean.  
10. Upload both the Jupyter notebook and the cleanse data file to GitHub and submit the GitHub link in BlackBoard.

In [478]:
census_df.to_csv('census_cost_cleansed.csv') #Make it back into a CSV