<a href="https://colab.research.google.com/github/Colsai/DATA-690-WANG/blob/master/data_cleansing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data690 Class 14:
## Data Practice, etc.
How do we remove junk from a dataset?  
(Characters that fall out-of-bounds, etc.)
!@#$%^&*() etc

In [25]:
#Let's take this string and try to remove all of the junk
x = "12XY#$weare&!-"

In [26]:
#Set as new_x
new_x = ''

for elem in x:
      if elem.isdigit() == True or elem.isalpha() == True:
          new_x = new_x + elem
print(new_x)

12XYweare

In [27]:
# List Comprehension
new_x = ''
new_x = ''.join([new_x + elem for elem in x if elem.isdigit() == True 
                 or elem.isalpha() == True])
new_x

'12XYweare'

In [28]:
# List Comprehension (as a list of the original and second)
def remove_others(x):
    x2 = ''
    x2 = ''.join([x2 + elem for elem in x if elem.isdigit() == True or elem.isalpha() == True])
    return (x, x2)

In [29]:
# List Comprehension (returning just the changed item values per each)
def remove_others_return(x):
    x2 = ''
    x2 = ''.join([x2 + elem for elem in x if elem.isdigit() == True or elem.isalpha() == True])
    return (x2)

In [30]:
# Here is the string again
x = "12XY#$weare&!-"
remove_others(x)

('12XY#$weare&!-', '12XYweare')

In [31]:
import pandas as pd
data = {"sample_text": ["123DVE%$-", "werwrewr132324##$rtet^^", "greg*I&(^1236%^^%&32r4f3e2"]}
df = pd.DataFrame(data)
df

                  sample_text
0                   123DVE%$-
1     werwrewr132324##$rtet^^
2  greg*I&(^1236%^^%&32r4f3e2

In [32]:
df['transformed'] = df['sample_text'].apply(remove_others_return)

In [33]:
df

                  sample_text         transformed
0                   123DVE%$-              123DVE
1     werwrewr132324##$rtet^^  werwrewr132324rtet
2  greg*I&(^1236%^^%&32r4f3e2   gregI123632r4f3e2